html {
    font-size: 16px;
}

.card h1 {
    margin-top: 0;
}

.category.viewing {
    line-height: 2.5em;
}
.category .toggle.btn {
    min-width: 5rem;
    margin-top: .25rem;
}
.category .badge {
    font-size: .9rem;
    font-weight: normal;
}

#cluesFilter select {
    margin-left: .25rem;
}

#roomSide .card-subtitle {
    font-size: large;
}

#players .current {
    font-weight: bold;
}

#board .card-title {
    margin-bottom: 0;
}
#board > .card-body {
    padding-bottom: 0;
}

#myCards {
    padding: 0;
    margin: 0;
    list-style: none;
    height: 12rem;
    overflow: hidden;
    text-align: center;
    position: relative;
}

.clue-col {
    width: 5rem;
    top: 0;
    height: 100%;
    float: left;
    position: relative;
}
.clue-col.current-col,
.clue-col:hover
{
    width: 10rem;
}

.clue-card {
    position: absolute;
    top: 9rem;
    width: 10rem;
    min-height: 12rem;
    text-align: left;
}
.clue-col:hover .clue-card,
.clue-card.current
{
    bottom: 0;
    top: auto;
}
.clue-col .clue-card .date {
    display: none;
}
.clue-col .clue-card .year {
    display: inline;
}
.clue-col:hover .clue-card .date {
    display: inline;
}
.clue-col:hover .clue-card .year {
    display: none;
}
.clue-card.current {
    cursor: grab;
}
.clue-card.dragging {
    cursor: grabbing;
}
.clue-card .card-title {
    margin-bottom: 0;
    font-size: large;
}