#lobby {
  height: 100%;
  max-width: 1280px;
}

/* join */
#joinGames {
  list-style: none inside none;
}
.game {
  cursor: pointer;
  color: $muted !important;
  border-bottom: 1px solid $gray-300;
  position: relative;
}
.game:hover {
  background: $table-hover;
  color: $dark !important;
}
.game:last-child {
  border-bottom: none;
}
.game-title {
  font-size: xx-large;
  margin-bottom: 0;
  margin-right: 2rem;
  color: $dark;
}
.game-title .fa {
  font-size: x-large;
}
@media (min-width: 576px) {
  .game-title {
    margin-bottom: .75rem;
    margin-right: 0;
  }
}
.game-meta {
  margin-bottom: 0;
}
.game-meta dt,
.game-meta dd
{
  float: left;
  margin-bottom: .25rem;
}
.game-meta dt {
  width: 1.25rem;
}
.game-meta dt:nth-child(4n) {
  clear: left;
}
.game-meta dd {
  width: calc(50% - 1.25rem);
}
.game-meta dd:nth-child(2) {
  width: calc(100% - 1.25rem);
  margin-right: 0;
}
@media (min-width: 576px) {
  .game-meta dd:nth-child(2) {
    width: calc(100% - 3.75rem);
    margin-right: 2.5rem;
  }
}
.game-created {
  margin-bottom: 0;
}
.game-status {
  position: absolute;
  top: 1.25rem;
  right: 1rem;
}
.game-owner {
  position: absolute;
  top: 1.25rem;
  right: 2.25rem;
}

/*
#joinGames {
  min-width: 60rem;
}
*/
#joinGames {
  padding-left: 0;
}


#gamePassword {
  width: 13rem;
}

/* gameCreator */
#gameCreatorModal .modal-dialog {
  transition: max-width 1s !important;
}
@media (min-width: 576px) {
  #gameCreatorModal.advanced .modal-dialog {
    max-width: calc(100% - 30px);
  }
}
#gameCreatorModal.advanced #gameAdvanced {
  padding-top: 1rem;
  border-top: 1px solid $secondary;
}

#gameOptionsToggle {
  font-size: medium;
  display: block;
  color: $dark;
  text-decoration: none;
  margin-bottom: 1rem;
}
#gameOptionsToggle .fa {
  width: .5rem;
}
#gameOptionsToggle.collapsed {
  color: $dark;
}
#gameOptionsToggle .fa-caret-up,
#gameOptionsToggle.collapsed .fa-caret-down
{
  display: inline-block;
}
#gameOptionsToggle.collapsed .fa-caret-up,
#gameOptionsToggle .fa-caret-down
{
  display: none;
}
.difficulty .btn-group {
  width: 100%;
}
.difficulty .btn {
  line-height: calc(1em + .75rem + 1px);
}
.difficulty .easy.btn-light:not(:disabled):not(.disabled).active {
  background: $success;
  border-color: $success;
  color: $white;
}
.difficulty .moderate.btn-light:not(:disabled):not(.disabled).active {
  background: $warning;
  border-color: $warning;
  color: $dark;
}
.difficulty .hard.btn-light:not(:disabled):not(.disabled).active {
  background: $danger;
  border-color: $danger;
  color: $white;
}

/* child manager */
.child-manager .list-group-item:last-child {
  border-bottom: none;
}
.child-manager .twitter-typeahead {
  width: 100%;
}

/* categories manager */
#categoriesManager {
  min-width: 1200px;
}
#categoriesManager .name {
  width: 25%;
}
#categoriesManager .theme {
  width: 15%;
}
#categoriesManager .precision {
  width: 10%;
}
#categoriesManager .private {
  width: 10%;
}
#categoriesManager .status {
  width: 10%;
}
#categoriesManager .actions {
  width: 30%;
}
.category.viewing {
  line-height: 2.5em;
}
.category .toggle.btn {
  min-width: 5rem;
  margin-top: .25rem;
}
.category .badge {
  font-size: .9rem;
  font-weight: normal;
}
.category .collaborators {
  font-size: small;
  display: block;
  line-height: 1;
}

/* cluesFilter */
#cluesFilter {
  text-align: center;
}
#cluesFilter .form-group select,
#cluesFilter .form-group input
{
  width: 100%;
}
@media (min-width: 576px) {
  #cluesFilter .form-group {
    float: left;
    width: 50%;
  }
  #cluesFilter .form-group-category {
    padding-right: .75rem;
  }
  #cluesFilter .form-group-keyword {
    padding-left: .75rem;
  }
  #cluesFilter .form-check,
  #cluesFilter button
  {
    display: inline-block;
  }
  #cluesFilter .form-check {
    margin-right: .75rem;
  }
}
@media (min-width: 768px) {
  #cluesFilter .form-group {
    float: none;
    width: auto;
    display: inline-block;
  }
  #cluesFilter .form-group,
  #cluesFilter .form-check
  {
    margin-left: .375rem;
    margin-right: .375rem;
  }
  #cluesFilter .form-group:first-child {
    margin-left: 0;
  }
  #cluesFilter .form-group-category {
    padding-right: 0;
  }
  #cluesFilter .form-group-keyword {
    padding-left: 0;
  }
  #cluesFilter .form-group select,
  #cluesFilter .form-group input
  {
    width: 15rem;
  }
}
#cluesFilterCategory,
#cluesFilterKeyword
{
  width: 15rem;
}

/* clues bulk action */
#cluesBulkAction,
#cluesBulkActionCategory
{
  width: 15rem;
}

/* clues manager */
#cluesManager {
  min-width: 1200px;
}
#cluesManager label,
#cluesManager span
{
  display: block;
  padding-top: .2rem;
  margin-bottom: 0;
}
#cluesManager input[type="date"],
#cluesManager textarea
{
  width: 100%;
}
#cluesManager .form-check-input,
#cluesManager label
{
  cursor: pointer;
}
#cluesManager tbody .form-check-input {
  margin-top: .5rem;
}
#cluesManager.table thead th:first-child {
  vertical-align: top;
}
#cluesManager.table thead th:first-child .form-check-input {
  margin-top: .8rem;
}
#cluesManager .select {
  width: 2.5%;
}
#cluesManager .description {
  width: 30%;
}
#cluesManager .date {
  width: 25%;
}
#cluesManager .open,
#cluesManager .status
{
  width: 5%;
}
#cluesManager .categories,
#cluesManager .more
{
  width: 2.5%;
}
.clue .actions {
  width: 27.5%;
}
.clue .toggle.btn {
  min-width: 4.5rem;
}
#cluesManager .toggle.btn label {
  padding-top: .35rem;
}
.clue .badge {
  font-size: .9rem;
  font-weight: normal;
  margin-top: .25rem;
}
#cluesManager .fa.table-icon {
  line-height: 1.25;
  font-size: x-large;
}
#cluesManager thead .fa.table-icon {
  position: relative;
  top: .3rem;
}
#cluesManager .editing .fa.table-icon {
  padding-top: .1rem;
}
#manageClueMore fieldset.form-group {
  margin: 0;
}
.datetime-wrapper {
  white-space: nowrap;
}
.datetime-wrapper .form-control {
  width: auto;
}
.datetime-wrapper [name="year"] {
  width: 4rem !important;
}
.datetime-wrapper [name="timeZone"] {
  max-width: 6rem;
  margin-left: .25rem;
}

/* pager */
.pager-size label {
  line-height: 2rem;
  margin-bottom: 0;
}
.pager-size .form-control {
  width: 5rem;
}
.pager-results {
  font-size: medium !important;
}