.st-inline-share-buttons .st-btn {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: .5;
}
.st-inline-share-buttons .st-btn:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  opacity: 1;
}