/* header */
#title {
  background-position: left center;
  background-size: 100% auto;
  width: 10rem;
  height: 2.5rem;
  margin-bottom: 0;
}
#title a {
  display: block;
  width: 100%;
  height: 100%;
}
#mute {
  font-size: large;
  width: 2.5rem;
  text-align: left;
  position: relative;
  top: .2rem;
}
#menuToggle {
  padding-right: 0;
}
#menuToggle:hover,
#menuToggle:focus
{
  text-decoration: none !important;
}
#profile .btn-link i {
  font-size: x-large;
  position: relative;
  top: .2rem;
}
#profile .dropdown-menu {
  min-width: 11.5rem;
  //transform: translate3d(-65px, 40px, 0px) !important;
}
#profile .about-item {
  color: $muted;
}
#profile .about-item:hover,
#profile .about-item:active
{
  color: $white;
}