/* header */
#title {
  background-position: left center;
  background-size: 100% auto;
  width: 10rem;
  height: 2.5rem;
  margin-bottom: 0;
}
#title a {
  display: block;
  width: 100%;
  height: 100%;
}
#header {
  padding-right: 3px;
  //background: $white;
}
#headerLinks {
  line-height: 3.45rem;
  padding-left: 15px;
  padding-right: 15px;
}
#headerLinks a:hover {
  color: $white !important;
}
#mute {
  font-size: large;
  width: 2.5rem;
  text-align: left;
  position: relative;
  top: .2rem;
}
#menuToggle:hover,
#menuToggle:focus
{
  text-decoration: none !important;
}
#profile .btn-link {
  /*font-weight: bold;*/
}
#profile .btn-link i {
  font-size: x-large;
  position: relative;
  top: .2rem;
}
#profile .dropdown-menu {
  min-width: 11.5rem;
  //transform: translate3d(-65px, 40px, 0px) !important;
}