/* auth screens */
#auth {
  margin-top: 4rem;
  text-align: center;
  transition: margin-top .5s ease-out;
  max-width: 960px;
}
#auth #title {
  margin: 0 auto;
  width: auto;
  max-width: 30rem;
  height: 8rem;
  background-position: center center;
  background-size: 100% auto;
  font-weight: normal;
  margin-bottom: 6rem;
}
#tagline {
  position: absolute;
  top: 10.5rem;
  left: 50%;
  margin-left: -12.25rem;
  font-size: medium;
  cursor: pointer;
}

/* authentication */
.at-form {
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 0;
  width: 100%;
}
.at-sep:before {
  left: -77.5%;
}
.at-sep:after {
  right: -77.5%;
}
button.at-social-btn {
  border-radius: 0;
}
button.at-social-btn i {
  padding-left: 0;
  //padding-right: 10px;
  width: 30px;
}
button.at-social-btn i.fa-facebook {
  width: 20px;
}

/* Meteor accounts overrides */
.at-pwd-form fieldset {
  width: 100%;
}
.at-pwd-form .at-input.form-group {
  width: 6rem;
  margin-bottom: 1rem;
}
@media (min-width: 576px) {
  .at-form-signUp .at-pwd-form .at-input.form-group:nth-child(odd):before {
    content: "\A\A";
    white-space: pre;
  }
  .at-form-signUp .at-pwd-form .at-input.form-group:first-child:before {
    content: none;
    white-space: normal;
  }
  .at-form-signUp .at-pwd-form .at-input.form-group:first-child {
    margin-left: .75rem;
  }
}
.at-pwd-form .at-input.form-group,
.at-pwd-form #at-btn
{
  display: inline;
  margin-left: .5rem;
  margin-right: .5rem;
}
.at-form-changePwd .at-pwd-form .at-input.form-group {
  width: auto;
  display: block;
  margin-left: 0;
  margin-right: 0;
}
.at-pwd-form #at-btn {
  margin-top: 0;
  padding: .375rem .75rem;
}
.at-form-changePwd .at-pwd-form #at-btn {
  margin-top: 0 !important;
}
.at-pwd-link p {
  margin-bottom: 0;
}
.at-signup-link p:first-child,
.at-signin-link p:first-child
{
  font-size: large;
  margin: 0;
}
.g-recaptcha {
  max-width: 302px;
}
#login-dropdown-list .login-text-and-button,
#login-dropdown-list .or
{
  display: none;
}